* {
  box-sizing: border-box;
}

.comments {
  margin-bottom: 10px;
  .list {
    display: flex;
    flex-direction: column;
  }
}
.comment {
  margin-bottom: 10px;
  .username {
    font-weight: 600;
  }
  .message {
    margin-left: 10px;
    .icon {
      margin-left: 7px;
      cursor: pointer;
    }
  }
}
