.auth {
  width: 100%;
  max-width: $max-page-width;
  margin: 70px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  @include breakpoint("phone") {
    margin-top: 10px;
  }
  .column {
    width: 45%;
    @include breakpoint("phone") {
      &:first-child {
        display: none;
      }
    }
    @include breakpoint("tablet") {
      &:first-child {
        display: none;
      }
    }
    &:last-child {
      width: 40%;
      margin-left: 10px;
      @include breakpoint("phone") {
        width: 100%;
        margin: 0;
      }
      @include breakpoint("tablet") {
        width: 70%;
        max-width: 350px;
        margin: 0;
      }
    }
    .white-box {
      text-align: center;
      padding: 15px;
      @include boxBorder(no);
      @include breakpoint("phone") {
        background-color: transparent;
        border: 0;
      }
      margin-top: 10px;
      .change-link {
        color: $light-blue;
        cursor: pointer;
      }
      .text {
        margin: 15px;
      }
    }
    .form-box {
      margin-bottom: 20px;
      padding: 0 40px;
      padding-top: 30px;
      img {
        height: 80px;
        margin-bottom: 15px;
      }
    }
    .app-box {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin-top: 35px;
        span {
          text-align: center;
        }
        .appstores {
          text-align: center;
          padding: 15px;
          img {
            height: 45px;
            &:first-child {
              margin-right: 10px;
            }
          }
      }
    }
  }
}
